* -text
*.SLDPRT binary
*.SLDASM binary
*.SLDDRW binary
*.sldprt binary
*.sldasm binary
*.slddrw binary
*.zip binary
*.rar binary
*.pdf binary
*.xlsx binary
*.docx binary
*.png binary
*.jpg binary
*.npz binary
